
  <div class="container">
    <div class="header">
        <div class="logo">
            <img class="logo1" src="anh/download.jpg" alt="">
        </div>
        <div class="menu">
            <ul>
                <li><a href="£">Home</a></li>
                <li><a href="£">Home</a></li>
                <li><a href="£">Home</a></li>
                <li><a href="£">Home</a></li>
                <li><a href="£">Home</a></li>
                <li><a href="£">Home</a></li>
            </ul>
        </div>
        <div class="header-button">
            <button>Search</button>
        </div>
    </div>
    <div class="content">
        <div class="article">
            <h1>Baif vieet noi bat</h1><br>
            <div class="list-items">
                <div class="item">
                    <div class="img">
                        <img class="thumb-img" src="anh/hinh-anh-dep-1.jpg" alt="tieu de" />
                 
                    </div>
                    <h2><a class="link-title-item" href="£">Tieue ddeef</a></h2>
                    <p>noi dung mo ta</p><br>
                    <a href="£">xem them</a>
                </div>
                <div class="item"></div>
                <div class="item"></div>
            </div> 
        </div>
        <div class="sidebar">
            <input type="text" placeholder="Tìm kiếm...">
            <div class="pk">
                <h2>most popular</h2><br>
                <div >
                    <button class="pk-button1">su kien</button>
                    <p>mo ta</p>
                </div><br>
                <div class="divider"></div><br>
                <div >
                    <button class="pk-button2">su kien</button>
                    <p>mo ta</p>
                </div>

            </div>
        </div>
    </div>
</div>
